<body style="box-sizing: border-box;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;">
  <div style="background-color: #f4f4f5; padding: 12px; max-width: 600px;">
    <div style="margin-bottom: 40px;">
      <p>Hi <strong><%= locals.fullname %></strong>,</p>
      <p>We mail you from <strong>Satisfa Restaurant.</strong></p>
      <p>First of all, thanks for booking a reservation. This email remind that, you have a schedule at our restaurant
        on
        <strong><%= locals.date %></strong>
      </p>
      <!-- <p>Your reservation details are showed below:</p> -->
    </div>
    <!-- <table style="background-color: #1e293b;width: 100%; color: white; padding: 12px; margin-bottom: 30px;">
      <tbody>
        <tr>
          <td style="font-size: 100px; text-align: center;">04</td>
        </tr>
        <tr>
          <td style="font-size: 50px; text-align: center;">June</td>
        </tr>
        <tr>
          <td style="text-align: center;">04/06/2023 8:00pm</td>
        </tr>
        <tr>
          <td style="font-size: 20px; text-align: center;">Table: <strong>T4</strong></td>
        </tr>
        <tr>
          <td style="font-size: 20px; text-align: center;">Guests: <strong>2</strong></td>
        </tr>
        <tr>
          <td style="text-align: center;">#Reservation ID</td>
        </tr>
        <tr>
          <td style="text-align: center;">23489sdfjhls93</td>
        </tr>
      </tbody>
    </table> -->

    <a style="text-decoration: none; width: 500px; height: 100%; background-color: #FF621F; color: #fff; padding: 20px;"
      target="_blank" href="https://satisfa.vercel.app/me/reservations">Check now</a>

    <div style="margin-top: 40px;">
      <p>Best regards,</p>
      <p><strong>The Satisfa Restaurant.</strong></p>
    </div>
    <div>

    </div>
  </div>
</body>

</html>